<div class="container">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="/">MongoScraper</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/saved">Saved Articles</a>
				</li>

			</ul>
			<button class="scrape" type="button">Scrape New Articles</button>

		</div>
	</nav>



	<div class="jumbotron text-center">
		<h1>Saved Articles</h1>
		<h2>Your Saved Articles</h2>
	</div>

	<div class="modal" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body" id="dbNotes">
				</div>
				<h5>New Note</h5>
				<div class="modal-body" id="newNote">
					<form role="form">
						<div class="form-group">
							<input type="text" class="form-control" id="title" name="title"
								placeholder="Enter title here">
							<textarea name="textarea" rows="3" cols="62" id="body"></textarea>

						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary saveNote">Save changes</button>
				</div>
			</div>
		</div>
	</div>




	{{#each articles}}

	<div class="card">
		<div class="card-header">
			<h5>
				<a class="article-link" target="_blank" rel="noopener noreferrer" href={{link}}>{{headline}}</a>

				<button class="addNote" attrId={{_id}}>Notes </button>
				<button class="delete" attrId={{_id}}>Delete</button>
			</h5>

		</div>
		<div class="card-body">
			<p class="card-text">{{summary}}</p>

		</div>
	</div>


	{{/each}}




</div>